* {
    margin: 0%;
}
.navBar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: goldenrod;
}
.left {
    display: flex;
    justify-content: flex-start;
}
.right {
    display: flex;
    justify-content: flex-end;
    gap: 5vw;
    align-items: flex-end;
    text-decoration: none;
}
.kiki {
    height: 75vh;
}
.article {
    display: flex;
    align-items: center;
    background-color: white;
}
.text {
    width: 40vw;
    padding: 5vw;
}
footer {
    color: goldenrod;
    text-align: center;
    background-color: black;
}
button {
    background-color: black;
    color: goldenrod;
    border: none;
    font-size: 1.25em;
}
button:active {
    background-color: goldenrod;
    color: black;
    opacity: 50%;
}
button:hover {
    background-color: goldenrod;
    color: black;
}
.button-link {
    color: goldenrod;
    text-decoration: none;
}
.button-link:active {
    color: black;
    opacity: 50%;
}
.button-link:hover {
    color: black;
}
.rotonde {
    max-height: 10vh;
    margin: 5vh;
}
#play-audio {
    cursor: pointer;
    width: 100%;
    max-width: 500px; /* Set a maximum width for the image */
}

audio {
    display: block;
    width: 100%;
}

/* Media query for screens smaller than 500px */
@media (max-width: 500px) {
    #play-audio {
        max-width: 100%; /* Set the maximum width to 100% on smaller screens */
    }
    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: black;
        color: goldenrod;
    }
}
