* {
    margin: 0%;
}

/* Creating FONT COPASETIC */
@font-face {
    font-family: "Copasetic";
    src: url("/public/fonts/COPASETI.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: "Copasetic";
}

/* navbar */
.navBar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: goldenrod;
}
.left {
    display: flex;
    justify-content: flex-start;
}
.right {
    display: flex;
    justify-content: flex-end;
    gap: 5vw;
    align-items: flex-end;
    text-decoration: none;
    padding-right: 2vw;
}
button {
    background-color: black;
    color: goldenrod;
    border: none;
}
button:active {
    background-color: goldenrod;
    color: black;
    opacity: 50%;
}
button:hover {
    background-color: goldenrod;
    color: black;
}
.button-link {
    color: goldenrod;
    text-decoration: none;
}
.button-link:active {
    color: black;
    opacity: 50%;
}
.button-link:hover {
    color: black;
}
.rotonde {
    max-height: 10vh;
    margin: 5vh;
}
/* index */

.imgleft {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2vw;
    max-width: 20vw;
}
.article {
    display: flex;
    background-color: white;
}
.text {
    width: 40vw;
    padding: 5vw;
}
.media {
    padding-top: 10vh;
    padding-right: 2vw;
}
.textright {
    text-align: right;
}
/* little audio feature */
#play-audio {
    cursor: pointer;
    width: 100%;
    max-width: 500px;
}
audio {
    display: block;
    width: 100%;
}

.submit {
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
    border: 1px solid goldenrod;
    color: goldenrod;
    background-color: white;
    font-weight: bold;
    align-self: center;
    border-radius: 50%;
    padding: 15px;
    margin-top: 2%;
    text-decoration: none;
}
.submit:active {
    opacity: 50%;
}

.submit:hover {
    color: white;
    background-color: goldenrod;
}

/* footer */
footer {
    color: goldenrod;
    text-align: center;
    background-color: black;
    height: 10vh;
    padding-top: 5vh;
}
.content {
    min-height: 80vh;
}
.registerForm {
    display: flex;
    flex-direction: column;
    background-image: url("bgd.png");
    background-position: top;
    background-size: cover;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}
p,
h2 {
    max-width: 70vw;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 35vw;
}
.intro {
    max-width: 35vw;
}
/* Media query for screens smaller than 500px */
@media (max-width: 500px) {
    #play-audio {
        max-width: 100%;
    }
    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: black;
        color: goldenrod;
    }
}
